@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
:root {
    --main-bg: #f3f3f3;
    --text-color: rgba(8, 40, 71);
    --sidebar-open-width: 15rem;
    --sidebar-close-width: 5rem;
    --sidedrawer-width: 25rem;
}


body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #f3f3f3;
}
